.welcome-modal {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  border-radius: var(--border-radius);
  backdrop-filter: blur(90px);
  border: var(--glass-border);
  padding: 30px;
  background: transparent;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.welcome-modal input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: var(--text-input);
}

.modal-main-btn {
  padding: 10px 12px;
  color: rgba(0, 0, 0, 0.574);
}

.welcome-modal input,
.modal-main-btn {
  border-radius: var(--border-radius-sm);
  background: var(--glass-bg);
  border: var(--glass-border);
}

.modal-main-btn:hover {
  background: var(--glass-bg-hover);
}

.welcome-modal input:focus {
  outline: none;
  background: var(--glass-bg-hover);
}

.welcome-modal input::placeholder {
  font-size: 16px;
}

.anonymous-btn {
  background-color: transparent;
  border: none;
  color: #7e648a66;
}

.anonymous-btn:hover {
  text-decoration: underline;
}

.input-error {
  animation: shake 0.6s ease;
  border-color: rgba(17, 60, 255, 0.5) !important;
}

@keyframes shake {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
