.welcome-modal {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-modal input {
  padding: 24px 42px;
}

.welcome-modal button {
  padding: 12px 24px;
}

.welcome-modal input,
button {
  border-radius: 6px;
  border: none;
}

.welcome-modal button:hover {
  cursor: pointer;
}

.welcome-modal input:focus {
  outline: none;
}
