.welcome-modal {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  border-radius: 8px;
  backdrop-filter: blur(90px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  background: transparent;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 72px;
  padding: 20px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-modal input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: rgba(45, 45, 45, 0.782);
}

.modal-main-btn {
  padding: 10px 12px;
  color: rgba(0, 0, 0, 0.574);
}

.welcome-modal input,
.modal-main-btn {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.108);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-main-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.375);
}

.welcome-modal input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.375);
}

.welcome-modal input::placeholder {
  color: rgba(45, 45, 45, 0.29);
  font-size: 16px;
}

.anonymous-btn {
  background-color: transparent;
  border: none;
  color: #7e648a66;
}

.anonymous-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
