.notes-page {
  flex-direction: column;
  width: auto;
  height: auto;
  animation: fadeIn 0.5s ease;
}

.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 330px;
  margin: 0 auto;
  overflow-y: auto;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  box-shadow: var(--card-shadow);
  border: var(--glass-border);
  border-radius: 0 8px 8px 8px;
  background: rgba(255, 255, 255, 0.3);
}

.note-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
}

.note-del-btn {
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  border: var(--glass-border);
  color: var(--text-dark);
  padding: 2px 8px;
  font-size: 12px;
}

.note-text {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.note-text > p {
  margin: 0;
}

.note-details {
  font-size: 12px;
  color: var(--text-main);
  margin: 0;
}

.note-topic {
  font-size: 16px;
  color: var(--text-input);
}

.pagination-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
}

.pagination-btn-container > button {
  border: none;
  background: transparent;
  padding: 0;
  color: var(--text-action-btn);
}

.empty-state {
  width: inherit;
  height: inherit;
}

.page-amount-container {
  display: flex;
  gap: 5px;
  margin: 0 auto;
}

.page-dot {
  font-size: 10px;
  color: var(--text-action-btn);
}

.session-details {
  display: flex;
  gap: 5px;
  align-items: center;
}
