.reflect-page {
  box-sizing: border-box;
  padding: 40px 0 0 0;
  position: relative;
  overflow: hidden;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.prompt-description {
  color: var(--text-dark);
  font-size: 14px;
  animation: fadeIn 0.4s ease-in;
}

.prompt-txtarea {
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  border: var(--glass-border);
  font-family: inherit;
  margin-top: 5px;
  display: block;
  width: 300px;
  height: 20px;
  resize: none;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  color: var(--text-input);
  font-size: 14px;
}

.prompt-txtarea:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.prompt-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prompt-edit-btn {
  background-color: transparent;
  color: var(--text-dark);
  border: none;
  font-size: 16px;
}

.prompt-edit-btn:hover {
  color: var(--text-main);
  text-shadow: var(--text-shadow);
}

.prompt-editor {
  border-radius: var(--border-radius-sm);
  background: var(--glass-bg);
  border: var(--glass-border);
  width: 100%;
  padding: 5px;
  font-family: inherit;
  color: var(--text-input);
  font-size: 12px;
  animation: fadeIn 0.4s ease-in;
}

.reflect-page .page-header {
  position: absolute;
  top: 450px;
  right: 4%;
}

.reflect-page .page-header h1 {
  font-size: 6em;
}
