.note-txtarea {
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  border: var(--glass-border);
  font-family: inherit;
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 100px;
  resize: none;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  color: var(--text-input);
  font-size: 16px;
}

.note-txtarea:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.btn-container {
  margin: 20px 0;
}

.completion-container {
  animation: fadeIn 1s ease;
}

.note-success-container > .description {
  animation: fadeIn 1s ease;
}
