.main-title {
  padding-bottom: 0;
  margin-top: 20px;
  text-align: center;
}

.main-subtitle {
  color: var(--text-main);
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0 20px;
}

.welcome-screen {
  margin: 10px;
}
