.month-container > p {
  text-align: center;
  padding-bottom: 10px;
  color: var(--text-title);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px 6px 0 0;
  padding: 4px 8px;
}

.month-container {
  position: absolute;
  top: 2px;
}

.box-container {
  position: relative;
  overflow: hidden;
}
