.card-content {
  height: 300px;
  width: 300px;
  border-radius: var(--border-radius);
  flex-direction: column;
  backdrop-filter: blur(200px);
  border: var(--glass-border);
  box-shadow: var(--card-shadow);
  transition: transform 0.3s ease;
}

.card-title {
  font-size: 40px;
  margin: 0;
  color: var(--text-main);
  text-shadow: var(--text-shadow);
}

.card-content:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
}

.card-description {
  padding: 20px;
  text-align: center;
  color: var(--text-main);
  animation: fadeIn 0.3s ease;
}
