.meditation-choice-btn {
  border-radius: var(--border-radius-sm);
  background: var(--glass-bg-dark);
  border: var(--glass-border);
  color: var(--text-dark);
  padding: 8px 12px;
  transition: background-color 0.4s ease;
}

.choice-btn-container {
  gap: 30px;
}

.meditation-choice-btn:hover {
  background: var(--glass-bg-hover);
}

.meditation-card-description {
  color: var(--text-dark);
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}

.emoji-animation {
  font-size: 6em;
  margin: 0;
  color: var(--text-main);
  text-shadow: var(--text-shadow);
  animation: pulse 7s ease-in-out infinite;
}

.begin-btn {
  animation: fadeIn 0.3s ease;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.begin-btn:hover {
  background-color: var(--glass-bg);
}
