.meditation-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 0.5s ease;
}

.meditation-header {
  padding: 20px;
}

.meditation-page-content {
  height: fit-content;
  width: 450px;
  margin: 0 auto;
  backdrop-filter: blur(90px);
  box-shadow: var(--card-shadow);
  border: var(--glass-border);
  border-radius: var(--border-radius);
  padding: 20px;
}

.meditation-choice-btn {
  border-radius: var(--border-radius-sm);
  background: var(--glass-bg-dark);
  border: var(--glass-border);
  color: var(--text-dark);
  padding: 8px 12px;
  transition: background-color 0.4s ease;
}

.choice-btn-container {
  gap: 30px;
}

.meditation-choice-btn:hover {
  background: var(--glass-bg-hover);
}

.home-btn {
  background-color: transparent;
  border: none;
  color: var(--text-dark);
}

.home-btn:hover {
  text-decoration: underline;
}

.meditation-card-description {
  color: var(--text-dark);
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}

.meditation-page-content > .card-emoji {
  font-size: 6em;
  animation: pulse 7s ease-in-out infinite;
}

.meditation-page-content > .action-btn {
  animation: fadeIn 0.3s ease;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.meditation-page-content > .action-btn:hover {
  background-color: var(--glass-bg);
}
