.page-container {
  min-height: 100vh;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 0.5s ease;
}

.page-content {
  height: fit-content;
  width: 450px;
  margin: 0 auto;
  backdrop-filter: blur(90px);
  box-shadow: var(--card-shadow);
  border: var(--glass-border);
  border-radius: var(--border-radius);
  padding: 20px;
}
