.page-container {
  min-height: 100vh;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
}

.page-content {
  height: fit-content;
  width: 450px;
  margin: 0 auto;
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.18) 40%
    ),
    url("/images/glass_blur.png");

  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  box-shadow: var(--card-shadow);
  border: var(--glass-border);
  border-radius: var(--border-radius);
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.background-decoration {
  position: fixed;
  font-size: 500px;
  bottom: 20%;
  left: 10%;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
  animation: rotate 120s linear infinite;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
