:root {
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
  --glass-bg: rgba(255, 255, 255, 0.108);
  --glass-bg-dark: rgba(128, 128, 128, 0.108);
  --glass-bg-hover: rgba(255, 255, 255, 0.375);
  --text-title: rgba(235, 248, 241, 0.671);
  --text-dark: rgba(71, 71, 71, 0.938);
  --text-main: rgba(135, 135, 135, 0.711);
  --text-action-btn: rgba(135, 135, 135, 0.9);
  --text-input: rgba(45, 45, 45, 0.782);
  --border-radius: 8px;
  --border-radius-sm: 6px;
  --text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  --card-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  --card-shadow-md: 0 0 30px rgba(255, 255, 255, 0.35);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #deaeee;
  background: radial-gradient(
    circle,
    rgba(222, 174, 238, 1) 0%,
    rgba(102, 224, 255, 1) 100%
  );
}

h1 {
  margin: 10px;
  font-size: 72px;
  padding: 20px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

button {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-emoji {
  margin: 0;
  font-size: 40px;
  color: var(--text-main);
  text-shadow: var(--text-shadow);
}

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action-btn {
  display: block;
  border-radius: var(--border-radius-sm);
  background: var(--glass-bg-hover);
  border: var(--glass-border);
  color: var(--text-dark);
  padding: 10px 14px;
  margin: 10px auto;
}

.selected {
  background: var(--glass-bg-hover);
}

.description {
  color: var(--text-dark);
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}

.unavailable {
  visibility: hidden;
}

.input-error {
  animation: shake 0.6s ease;
  box-shadow: 0 0 20px rgb(108, 194, 227) !important;
}

@keyframes shake {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
