:root {
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
  --glass-bg: rgba(255, 255, 255, 0.108);
  --glass-bg-hover: rgba(255, 255, 255, 0.375);
  --text-title: rgba(235, 248, 241, 0.671);
  --text-dark: rgba(71, 71, 71, 0.938);
  --text-main: rgba(135, 135, 135, 0.711);
  --border-radius: 8px;
  --border-radius-sm: 6px;
  --text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  --card-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  color: var(--text-title);
  font-size: 72px;
  padding: 20px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

button {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-emoji {
  margin: 0;
  font-size: 40px;
  color: var(--text-main);
  text-shadow: var(--text-shadow);
}
